@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');
/* font-family: 'Playfair Display', cursive; */
/* font-family: 'Poppins', sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image:radial-gradient(circle, #0c0f16, #1a1f2b, #2a3644, #3c4d5c, #506873)!important;
}

main{
  color: aliceblue;
}